@{
    ViewData["Title"] = "Quick Start";
}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="prose" style="line-height:1.7">
            @Html.Raw(ViewBag.HtmlContent)
        </div>
    </div>
</div>
